<h1 style='color: blue;'>Hello <%= @user.first_name %>,</h1>

<p>You received a Review on your Product</p>

<p>Product title: <%= @product.title %></p>
<p>The Review: <%= @review.body %></p>

<p>Regards,</p>

<p>Amazon Team</p>
